.feedback
    padding: 51px 0 65px 0
    &__wrap
        position: relative
        .prev
            position: absolute
            top: 18%
            left: 43%
        .next
            position: absolute
            top: 18%
            right: 43%
.slider
    position: relative
    margin-top: 31px
    &__item
        width: 600px
        opacity: 0.3
        // transform: scale(50%)
        &_active
            opacity: 1
            transition: 0.6s all
            transform: scale(100%)
    &__img
        margin: 0 auto
        width: 114px
        height: 114px
        img
            width: 100%
    &__descr
        margin-top: 20px
        width: 600px
        text-align: center
    &__name
        font-size: 18px
        line-height: 18px
        font-weight: 700
        color: #3a3a3a
    &__text
        font-size: 14px
        line-height: 22px
        font-weight: 300
        position: relative
    &-wrapper
        position: relative
        // overflow: hidden
        width: 600px
        margin: 0 auto

    &-inner
        display: flex
        justify-content: space-around
        transition: 0.3s all
   